*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;

  margin: 0;
  padding: 0;
}

#content {
  margin: 0;
}

#title {
  margin: 0;
  padding: 1em;

  background-color: cyan;
}
