.sidebar {
  margin: 0em;
  padding: 2em;

  background-color: rgb(226, 255, 255);
  background-color: rgb(197, 255, 255);
  background-color: rgb(234, 255, 255);
  background-color: rgb(0, 128, 128);
  background-color: #1a1a1b;
}

.sidebar-items {
  list-style: none;

  /* color: whitesmoke; */
  margin: 0em;
  padding: 0em;
}

.sidebar-items li {
  font-size: 1.5rem;
  font-weight: bold;

  padding: 0 0 1em 0;
}

/* .sidebar-items li a { */
/* color: black; */
/* color: whitesmoke; */
/* } */

.sidebar-todo-lists:hover,
.sidebar-items > li > a:hover {
  cursor: pointer;
}
