.todo-item,
.add-todo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 0.5em;

  width: 70%;
  height: 3em;
}

.add-todo-container {
  justify-content: flex-start;
}

.todo-info,
.todo-manip {
  display: flex;
  align-items: center;

  gap: 0.5em;
}
