.todo-item,
.add-todo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 0.5em;

  width: 70%;
  height: 3em;
}

.todo-desc {
  display: none;
}

.todo-due {
  color: whitesmoke;

  border: none;

  background: none;
}

.todo-priority {
  text-align: center;

  width: 6ch;

  margin: 0 1em;

  border: none;
  border-radius: 1em;
}

/* .todo-priority {
  appearance: none;
} */

.p1 {
  font-weight: bold;
  background-color: red;
}

.p2 {
  font-weight: bold;
  background-color: yellow;
}

.p3 {
  font-weight: bold;
  background-color: yellowgreen;
}

.p4 {
  font-weight: bold;
  background-color: green;
}

.add-todo-container {
  justify-content: flex-start;
}

.todo-info,
.todo-manip {
  display: flex;
  align-items: center;

  gap: 0.5em;
}

.todo-title:hover,
.todo-due:hover,
.todo-priority:hover,
.todo-edit:hover,
.todo-remove:hover {
  cursor: pointer;
}
