<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= htmlWebpackPlugin.options.title%></title>
  </head>

  <body>
    <div id="content">
      <h1 id="title">To Do / Not To Do</h1>
      <div class="sidebar">
        <ul class="sidebar-items">
          <li>
            <a>Home</a>
          </li>
          <li class="sidebar-title">Your Lists</li>
          <ul class="sidebar-todo-lists"></ul>
        </ul>
      </div>
    </div>
  </body>
</html>
